@import url(https://fonts.googleapis.com/css2?family=Shrikhand&display=swap);

body {
  font-family: 'Averia Libre', display;
}

body {
  font-family: 'Shrikhand', display;
}
body, html {
    margin: 0;
    font-family: Roboto,sans-serif;
    scroll-behavior: smooth;
}

.header {
    padding: 1rem;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    position: relative;
    z-index: 1000;
}

.header-logo {
    font-family: Shrikhand,"cursive";
    margin: 0;
    text-align: center;
}

.local {
    display: flex;
    justify-content: center;
    padding: 1.25rem 1rem;
    background-color: #f3f3f3;
    font-size: 1.2rem;
    position: relative;
}

.local-icon {
    margin-right: 1rem;
}

.local-text {
    font-weight: 700;
}

.hero {
    padding: 2rem;
    text-align: center;
    background-color: #fafafa;
}

.hero-title {
    margin: 0;
}

.hero-subtitle {
    font-weight: 300;
    margin: 1.5rem 0;
}

.hero-btn:hover {
    background-color: #fff;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
}

.hero-btn {
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    cursor: pointer;
    transition-duration: .25s;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
}

.tuto {
    padding: 2rem 1rem;
}

.container {
    max-width: 1280px;
    margin: auto;
    position: relative;
}

.tuto-title {
    margin-top: 0;
}

.tuto-steps {
    margin: 0;
    padding: 0;
    margin-top: 25px;
    list-style: none;
    counter-reset: compteListe;
}

.tuto-step:first-child {
    margin-top: 0;
}

.tuto-step:before {
    counter-increment: compteListe 1;
    content: counter(compteListe) " ";
    background: #9356dc;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    left: -0.75rem;
}

.tuto-icon {
    margin-right: 1rem;
    color: #7e7e7e;
}

.tuto-step {
    padding: 1.5rem;
    margin: 1rem 0 1rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    position: relative;
}

.tuto-step:hover{

    background-color: #f4daff;

}

.tuto-step:last-child {
    margin-bottom: 0;
}

.restaurants {
    background-color: #f6f6f6;
    padding: 2rem 1rem;
}

.cards {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

.card {
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;
}

.card-img {
    height: 12rem;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
}

.card-img-ne {
    height: 12rem;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
}

.card-badge {
    background-color: #99e2d0;
    color: #1b6150;
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 1rem;
    right: 0.75rem;
}

.card-footer {
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
}

.card-content {
    flex: 1;
}

.card-title {
    margin: 0 0 0.25rem;
}

.card-subtitle {
    margin: 0;
}

.menu {
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    z-index: 1;
    position: relative;
}

.delay-0{

    animation-delay: 0s;

}

.delay-1{

    animation-delay: 1s;

}

.delay-2{

    animation-delay: 2s;

}

.menu-header {
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-title{

    font-family: Shrikhand, "Cursive";

}

/* .menu-like {
    transition-duration: .25s;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: lighten;
}

.menu-btn:before{

    opacity: 0;
    transition: .5s;
    content: "";
    background: linear-gradient(0deg, #9356dc, #ff79da);

}

.menu-btn:before, .menu-like {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
} */

.card-like {
    /* background-color: #fff!important; */
    position: relative;
}

.card-like>i{

    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    font-size: 1em;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(0deg, #9356dc, #ff79da);
    transition: clip .4s;
    clip: rect(2em 2em 2em 0px);

}

.card-like:hover>i{

    opacity: 1;
    clip: rect(0px 2em 2em 0px);

}

.menu-btn {
    height: 2rem;
    width: 2rem;
    border: none;
    background: none;
    /*
    background-color: initial;
    border: 0 solid transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background-color: #000; */
}

.menu-btn:hover::before{

    opacity: 1;

}

.submenus {
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
}

.submenu {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
}

.submenu-title {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: 400;
}

.submenu-title:after {
    content: "";
    width: 3rem;
    height: 0.25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0;
}

.menuItem-header{

    flex: 1;
    padding: 1em;

}

.menuItem-header, .menuItem-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.menuItem-title {
    margin: 0;
}

.menuItem-description {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.menuItem-price {
    margin-right: 1em;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
}

.heroImg {
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
}

.wrapBtn {
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 3rem 0;
}

.commandBtn:hover {
    background-color: #fff;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
}

.commandBtn {
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    transition-duration: .25s;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
    cursor: pointer;
}

.menuItem:hover .menuItem-confirmation{

    margin-right: -16px;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-left: 15px;
    border-radius: 0 0 0.75rem;

}

.menuItem:hover .menuItem-wrapIcon {
    transform: rotate(0);
}

.menuItem{

    display: flex;
    background-color: #fff;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.menuItem-confirmation {
    background-color: #99e2d0;
    align-self: normal;
    margin-right: -4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
}

.menuItem-wrapIcon {
    height: 1.6rem;
    width: 1.6rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: .5s;
    margin-left: -15px;
}

.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.menuItem-icon {
    color: #99e2d0;
}

.header-arrow {
    position: absolute;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #000;
}

@keyframes spinner{

    100%{
        
        opacity: 0;
        z-index: -1;

    }

    0%{

        opacity: 1;
        z-index: 10000;

    }

}

.loader-wrapper{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        animation: spinner 3s linear 0s 1 forwards;
    }

.tuto-step:hover i{

    color: #9356dc;

}

.footer {
    background-color: #353535;
}

.footer .container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.footer-logo {
    color: #fff;
    font-family: Shrikhand,"cursive";
    font-size: 1.2rem;
    margin: 0 0 1rem;
}

.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-link {
    color: #fff;
    text-decoration: none;
}

.footer-icon {
    width: 1.2rem;
    margin-right: 0.5rem;
}

.footer-listElt:first-child {
    margin-top: 0;
}

.footer-listElt {
    margin: 0.5rem 0;
}

.footer-listElt:last-child {
    margin-bottom: 0;
}

/* TABLET */

@media screen and (min-width: 768px) and (max-width: 992px){

    .cards{

        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .card-img-ne{

        width: 278px

    }

    .card-ne{

        width: 278px;

    }

}

/* LAPTOP */

@media screen and (min-width: 992px){

    .card-img-ne{

        width: 100%;

    }

}